/target
/.idea
/*.iml
/dotnet/Mammoth/generated.cs
/dotnet/Mammoth/bin
/dotnet/Mammoth/obj
/dotnet/Mammoth.Cli/bin
/dotnet/Mammoth.Cli/obj
/dotnet/Mammoth.Tests/bin
/dotnet/Mammoth.Tests/obj
/dotnet/packages
*.userprefs
