name: Tests

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                java-version: ['8', '11', '17', '18', '19', '20']

        steps:

        - uses: actions/checkout@v2

        - name: Use Java ${{ matrix.java-version }}
          uses: actions/setup-java@v3
          with:
              distribution: 'temurin'
              java-version: ${{ matrix.java-version }}

        - run: mvn package
